body{
    background-color: #434343;
}

.body{
    margin: auto;
    width: 50vw;
    border-radius: 10px;
    background-color: #E3E3E3;
}

.form{
    padding: 5%;
}

.toDoForm{
    display: flex;
    justify-content: space-between;
}

.input{
    width: 85%;
    height: 30px;
    font-size: 16px;
    outline: none;
}

.addButton{
    width: 15%;
}

#lists{
    background-color: #D3D3D3;
    border-radius: 5px;
}

.toDos{
    padding-left: 30px;
}

.toDos > li{
    margin: 10px 0;
}