body{
    background-color: #abc5dd;
}

.body{
    margin: auto;
    width: 50vw;
    border-radius: 10px;
    background-color: #E3E3E3;

}

.form{
    padding: 5%;
}

.toDoForm{
    display: flex;
    justify-content: space-between;
}

.input{
    width: 85%;
    height: 30px;
    font-size: 16px;
    outline: none;
}

.addButton{
    width: 15%;
    background-color: #abc5dd;
    color: white;
    border: none;
    cursor: pointer;
}

.addButton:hover{
    background-color: red;
}

#lists{
    background-color: #E3E3E3;
}

.list{
    display: flex;
    margin-top: 15px;
    padding: 0 0 0 10px;
    background-color: white;
}

.list > input{
    border: none;
    width: 80%;
    height: 40px;
    font-size: 16px;
    outline: none;
}

.list > div{
    line-height: 40px;
}

.retextButton{
    /* 상위 요소 색 따라감 */
    background: inherit;
    border: none;
    color: #5898d3;
    cursor: pointer;
}

.retextButton:hover{
    color: red;
}

.deleteButton{
    /* 상위 요소 색 따라감 */
    background: inherit;
    border: none;
    color: #5898d3;
    cursor: pointer;
}

.deleteButton:hover{
    color: red;
}